.boton{
    background-color: rgb(65, 65, 65);
    color: white;
}

.boton:hover{
    background-color: grey;
    color: black;
    transition: all 0.5s;
}

.carta{
    padding: 10px;
    border: 1px solid black;
}


.carta:hover{
    transform: scale(1.05);
    transition: all 1s;
    box-shadow: 5px 5px grey;
}