
header{
    background-color: rgb(98, 148, 255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px; 
}

li{
    display: inline;
    padding: 2vw;
}

.links-nav{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.iconoHeader{
    font-size: 3rem;
    color: white;
}
